//-----colors--------
$lPink: #f38181;
$lYellow: #fce38a;
$lGreen: #eaffd0;
$lCyan: #95e1d3;
$grad: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
$cText: #333333;
$gray: #999999;
$white: #ffffff;

//-----fonts--------
$kau: 'Kaushan Script', cursive;
$mon: 'Montserrat', sans-serif;
$rob-li: 'Roboto', sans-serif;
